/* Ana-R */

@font-face {
 font-family: 'Ana-R';
 src: url('./Ana-Rounded-Regular.ttf') format('truetype');
 font-style: normal;
 font-weight: 400;
}

html, body, input, button {
font-family: 'Ana-R', sans-serif;
font-weight: normal;
font-size: .88em;
line-height: 1.3;
color: rgba(77, 146, 231, 0.8);
background-color: black;
overscroll-behavior-x: none;
}
a{
 color: #747474;
}
a:visited{
 color: rgba(77, 146, 231, 0.8);
}

body{
 align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 2em;
margin: 1em;
}
.contents{
 align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
}
.content{
max-width: 60vw;
}
.content.s{
 max-width: 40vw;
}